<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30300" visible="false">
  	<setting id="score_updates" type="bool" label="30310" default="false" visible="true"/>
  	<setting label="30330" type="number" id="display_seconds" default="5"/>
    <setting label="30340" type="bool" id="goal_desc" default="true" />
  </category>
</settings>